

{% load static %}

<html>
    <head>
        <title>Animalerie</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
    </head>
    <body>
        <h1>Animalerie</h1>
        </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

